html,
body {
  color: #373d3f;
  font-family: "roboto-regular", sans-serif; }

.bg-white {
  background: #FFFFFF; }

.color-white {
  color: #FFFFFF; }

.bg-grey {
  background: #7B878A; }

.color-grey {
  color: #7B878A; }

.bg-light-grey {
  background: #FCFCFD; }

.color-light-grey {
  color: #FCFCFD; }

.bg-tomato {
  background: #F9423A; }

.color-tomato {
  color: #F9423A; }

.bg-dark-grey {
  background: #373D3F; }

.color-dark-grey, .box-oppurtunities__title {
  color: #373D3F; }

.bg-gradient-grey {
  background: #D3CCE3;
  background: -webkit-linear-gradient(to top, #FFFFFF, #FCFCFD);
  background: linear-gradient(to top, #FFFFFF, #FCFCFD); }

/*============== Roboto =================*/
@font-face {
  font-family: 'roboto-bold';
  src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.text-bold, .box-oppurtunities__title {
  font-family: "roboto-bold"; }

.text-light {
  font-family: "roboto-light"; }

.text-medium, .home-section h1 {
  font-family: "roboto-medium"; }

.text-regular {
  font-family: "roboto-regular"; }

.font-14 {
  font-size: 14px; }

.box {
  background-color: #FFFFFF;
  border-radius: 3px;
  display: flex;
  min-height: 90px;
  padding: 10px; }

.box-shadow {
  box-shadow: 0 0 24px 0 rgba(43, 43, 43, 0.24); }

.box-oppurtunities {
  display: flex;
  width: 100%; }

.box-oppurtunities__title {
  font-size: 18px;
  margin-bottom: 0; }

ul.box-oppurtunities__list {
  display: flex;
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0; }
  ul.box-oppurtunities__list li:first-child {
    list-style: none; }
  ul.box-oppurtunities__list li:not(:last-child) {
    padding-right: 25px; }

@media (max-width: 320px) {
  .box {
    padding: 15px; } }

.btn {
  font-size: 14px;
  line-height: 30px; }
  .btn.btn-md {
    min-width: 130px; }

.btn-base {
  background-color: #FD7314;
  color: #FFFFFF; }
  .btn-base:hover, .btn-base:focus {
    background-color: #DD6716;
    color: #FFFFFF; }

.btn-scroll {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #FD7314;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px; }
  .btn-scroll:hover, .btn-scroll:focus {
    color: #FD7314; }

@media (max-width: 320px) {
  .btn {
    line-height: normal !important; } }

.navbar {
  min-height: 85px; }
  .navbar .navbar-brand img {
    height: 35px; }
  .navbar li a {
    color: #FFF;
    font-family: "roboto-medium";
    opacity: 0.7;
    transition: all 0.2s; }
  .navbar li:hover a, .navbar li.active a {
    opacity: 1; }
  .navbar li:not(:last-child) {
    padding-right: 15px; }

.navbar-transparent li a {
  color: #FFF; }

.navbar-white {
  background-color: #FFF;
  box-shadow: 0 0 10px 0 rgba(43, 43, 43, 0.24); }
  .navbar-white li a {
    color: #373D3F;
    font-family: "roboto-medium"; }
  .navbar-white li:hover a, .navbar-white li.active a {
    color: #F9423A; }

footer {
  background-color: #FFFFFF;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 50px; }
  footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    padding: 0; }
  footer span {
    font-size: 14px;
    color: #7B878A; }
  footer i {
    font-size: 18px !important;
    color: #F9423A; }
  footer ul.socmed-list {
    display: inline-block;
    list-style: none;
    padding-left: 15px; }
    footer ul.socmed-list li {
      display: inline-block; }
      footer ul.socmed-list li:not(:last-child) {
        padding-right: 8px; }
      footer ul.socmed-list li img {
        height: 22px; }

.home-section {
  align-items: center;
  background: #FF512F;
  background: -webkit-linear-gradient(265deg, rgba(253, 151, 20, 0.7), rgba(249, 66, 58, 0.7)), url("../../assets/images/background/working-office.jpg");
  background: linear-gradient(265deg, rgba(253, 151, 20, 0.7), rgba(249, 66, 58, 0.7)), url("../../assets/images/background/working-office.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 85vh; }
  .home-section h1 {
    color: #FFFFFF;
    font-size: 35px;
    text-align: center; }
  .home-section .home-section__scroll {
    position: absolute;
    bottom: 20vh; }

.vertical-center {
  align-items: center;
  display: flex; }

.material-icons {
  vertical-align: middle; }

section {
  min-height: 250px;
  padding-top: 85px;
  padding-bottom: 85px; }

@media (max-width: 320px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px; } }
