.btn {
	font-size: 14px;
	line-height: 30px;
	&.btn-md {
		min-width: 130px;
	}
}

.btn-base {
	background-color: #FD7314;
	color: #FFFFFF;
	&:hover,
	&:focus {
		background-color: #DD6716;
		color: #FFFFFF;
	}
}

.btn-scroll {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: $orange;
	display: flex;
	height: 45px;
	justify-content: center;
	width: 45px;
	&:hover,
	&:focus {
		color: $orange;
	}
}

@media (max-width: $breakpoint-mobile) {
	.btn {
		line-height: normal !important;
	}
}