$colours:
"white" #FFFFFF,
"grey" $grey,
"light-grey" $lightGrey,
"dark-grey" $darkGrey;

@each $i in $colours{
	.bg-#{nth($i, 1)} {
		background: nth($i, 2);
	}
	.color-#{nth($i, 1)} {
		color:nth($i, 2);
	}
}

.bg-gradient-grey {
	background: #D3CCE3;
	background: -webkit-linear-gradient(to top, #FFFFFF, $lightGrey);
	background: linear-gradient(to top, #FFFFFF, $lightGrey);
}