html,
body {
	color: #373d3f;
	font-family: "roboto-regular", sans-serif;
}

@import
"bases.scss",
"components.scss";

.home-section {
	align-items: center;
	background: #FF512F;
	background: -webkit-linear-gradient(265deg, rgba(253, 151, 20, 0.7), rgba(249, 66, 58, 0.7)), url('../../assets/images/background/working-office.jpg');
	background: linear-gradient(265deg, rgba(253, 151, 20, 0.7), rgba(249, 66, 58, 0.7)), url('../../assets/images/background/working-office.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	min-height: 85vh;
	h1 {
		@extend .text-medium;
		color: #FFFFFF;
		font-size: 35px;
		text-align: center;
	}
}

.vertical-center {
	align-items: center;
	display: flex;
}

.material-icons {
	vertical-align: middle;
}

section {
	min-height: 250px;
	padding-top: 85px;
	padding-bottom: 85px;
}

@media (max-width: $breakpoint-mobile) {
	section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}